@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    background-color: #b84c42;
    text-transform: uppercase;
}

a {
    cursor: pointer;
    font-weight: bold;
}

a.btn-nav {
    color: #a8d2a0;
}

a.btn-nav:hover {
    color: #689ff1
}

.container {

}

.neo-section {

    height: 95vh;
    width: 90vw;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    align-content: center;
}

.row {
    margin: 20px 20px;

}

.wm {
    width: 50%;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.neo-section {
    position: relative;
    z-index: 105;
}

/*.texto-centro{color: #82b479; font-size: 3em; font-weight: bold;}*/
.rodape {
    color: #fff;
    background-color: #b84c42;
    text-align: justify;
    font-size: 1em;
}

@media screen and(max-width: 667px) {
    .wm {
        width: 100%;
    }

    nav {
        height: 100%;
    }

    .neo-container {
        margin-top: 120px;
    }
}

.media {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 400px;
    height: 100px;
    align-content: center;
    align-items: center;
}

.media a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

